# Bu dosyayı ".env" olarak kopyalayıp kendi bilgilerinizi girin.
# .env dosyasını ASLA paylaşmayın veya git'e eklemeyin.

BINANCE_TR_API_KEY=buraya_api_keyinizi_yazin
BINANCE_TR_API_SECRET=buraya_secretinizi_yazin
